@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Kavivanar', cursive;
}
.portada{
    background-image: url('../images/popo.jpg');
    margin-top: 24px;
}
footer{
    background-color: rgb(49, 94, 190);
    position: absolute;
    right: 0;
    left :0;
    bottom: 0;
}
.newspaper {
    font-family: 'Barlow Semi Condensed', sans-serif;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
    text-align: left;
    padding-right: 400px;
    padding-left: 400px;
}

.titulodecolumnas {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;

}